# Ignore python cache files
__pycache__
*.pyc

# Ignore virtual environment
venv


# Ignore database files
database.db

# Ignore logs
*.log

# Ignore IDE files
.idea
.vscode

# Ignore temporary files
*~

# Ignore summary structure file
#summary-structure.md

# Ignore docker files
docker-compose.yml
Dockerfile

# Ignore hypothesis
.hypothesis/

